html {
    margin: 0px;
}
body {
    background-image: url("geldregen.jpg");
    
}
#inhoud {
    width: 960px;
    margin: auto;
}
#whitespace{
    width: 960px;
    height: 200px;
}
#code1{
    font-size: 72px;
    font-family: Arial;
    text-align: center;
    color: red;
    margin-bottom: 0px;
}
#code2{
    font-size: 56px;
    font-family: Arial;
    text-align: center;
    color: blue;
}

